/*#region conf gerais*/
:root {
  --color-background: #051D3B;
  --code-border-background: #68D1FF;
  --code-text-background: #141414;
  --button-background: rgba(80, 129, 251, 0.08);
  --button-save-background: #5081FB;
  --project-field-background: #1f344f;
  --botao-seletor-cores: #6BD1FF;

  --color-font: whitesmoke;
  --color-font-secundary: #051D3B;
  --color-icons: whitesmoke;

  --color-macBut1: #ff5f56;
  --color-macBut2: #ffBD2E;
  --color-macBut3: #27C93F;
}

body {
  width: 98vw;
  height: 98vh;
  background: var(--color-background);

  border: 3px solid;
  border-color: #27C93F;
  border-radius: 24px;
}

/*#endregion conf gerais*/

/* #region mobile first start */

/*#region header mobile*/
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 56px;
  margin: 16px;

  background-color: #68D1FF;
}

.menuLogo {
  width: 145px;
}

.menuBusca {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--color-icons);
  margin-left: 94px;
  font-size: 1.3rem;
}

.barraBusca {
  display: none;
}

.menuAuthor {
  display: none;
}

.menuHamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--color-icons);
  font-size: 1.3rem;
}

/*#endregion header mobile*/

/*#region editor mobile*/

.barraMenuLateral {
  display: none;
}

.conteudoCentral {
  display: flex;
  flex-direction: column;
  background-color: #ffBD2E;
  height: 98vh;
}

.editorContainer {
  display: flex;
  /* width: 343px; */
  height: 492px;
  background-color: var(--code-border-background);
  border-radius: 8px;
  margin: 16px;
  /* margin-top: 40px; */
}

.blocoDeEdicao {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: auto;
  margin: 32px;
  background-color: var(--code-text-background);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.macButtons {
  display: flex;
  justify-content: space-between;
  width: 52px;
  height: 12px;
  font-size: 12px;
  margin-left: 16px;
  margin-top: 16px;
}

.macBut1 {
  color: var(--color-macBut1);
}

.macBut2 {
  color: var(--color-macBut2);
}

.macBut3 {
  color: var(--color-macBut3);
}

.textoEditor {
  /* width: 247px; */
  height: 360px;
  margin-top: 24px;
  margin: 16px;
  background-color: var(--code-text-background);
  border: none;
  resize: none;

  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  color: var(--color-font);
}

/*#endregion editor mobile*/

/* #endregion mobile first end*/

@media (min-width:768px) {
  body {
    background: brown;
  }

  /*#region header tablet*/

  .cabecalho {
    margin: 32px;
    justify-content: space-between;
  }

  .menuLogo {
    display: flex;
  }

  .menuBusca {
    width: 431px;
    margin-left: 40px;
  }

  .barraBusca {
    display: flex;
    width: 431px;
    height: 56px;
    padding: 0px 14px;
    border: none;
    border-radius: 8px;

    background-color: var(--project-field-background);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-font);
  }

  .barraBusca::placeholder {
    display: flex;
    width: 98%;
    padding: 16px 0px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-font);
    opacity: 0.64;
  }

  .lupa {
    display: none;
  }

  .menuHamburger {
    margin-left: 40px;
    font-size: 1.5rem;
  }

  /*#endregion header tablet*/

  /*#region editor tablet*/

  .editorContainer {
    height: 366px;
    margin: 32px;
  }

  .blocoDeEdicao {
    width: 704px;
  }


  /*#endregion editor tablet*/

}

@media (min-width:1440px) {

  /*1025px*/
  body {
    background: grey;
  }

  /*#region header pc*/

  .cabecalho {
    display: flex;
    /* justify-content: center; */
    width: 1376px;
    /* align-content: center; */
    /* align-items: center; */
    /* height: 56px; */
    margin: 32px;
    background-color: #68D1FF;
  }

  .menuLogo {
    width: 312px;
    margin-left: 16px;
  }

  .menuBusca {
    width: 816px;
    justify-content: center;
    margin: 32px;

  }

  .menuAuthor {
    display: flex;
    width: 312px;
    justify-content: flex-end;
  }

  .barraBusca {
    display: flex;
    width: 752px;
  }

  .menuHamburger {
    display: none;
  }

  /*#endregion header pc*/

  /*#region blocos de conteudo pc*/

  .conteudoPrincipal {
    display: flex;
    flex-direction: row;
    width: 1440px;
  }

  .barraMenuLateral {
    display: flex;
    flex-direction: column;
    width: 312px;
    margin-left: 32px;

    background-color: #27C93F;
  }

  .conteudoCentral {
    /* margin-right: 40px; */
    /* width: 816px; */
    width: 752px;
  }

  .barraDireita {
    display: flex;
    flex-direction: column;
    width: 312px;
    margin-right: 32px;
    background-color: #141414;
  }

  /*#endregion blocos de conteudo pc*/



  /*#region barra menu lateral pc*/


  .menuHeader {
    /* width: 189px; */
    height: 18px;
    margin-left: 16px;
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
  }

  .menuEditor {
    display: flex;
    justify-content: flex-start;
    /* width: auto; */
    height: 48px;
  }

  .imagemMenuEditor {
    width: 48px;
    margin-left: 16px;
    margin: 0px 8px;
  }

  .menuComunidade {
    display: flex;
    justify-content: flex-start;
    /* width: 189px; */
    height: 48px;
    margin-top: 16px;
  }

  .imagemMenuComunidade {
    width: 48px;
    margin: 0px 8px;
  }

  .menuTexto {
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
  }

  /*#endregion barra menu lateral pc*/

  /*#region editor pc*/
  .editorContainer {
    width: 752px;
    margin: 0px;
  }

  /*#endregion editor pc*/

  .highlightButton {
    /* display: none; */
  }
}