body {
  background-color: #051D3B;
  width: 1440px;
  height: 1024px;
}

header {
  /* background-color: #7fffd4; */
  display: flex;
  justify-content: space-between;
  width: 1376px;
  height: 56px;
  margin-top: 32px;
  margin-left: 32px;
}

.logo {
  width: 145px;
  /* height: 56px; */
  /* height: 19px; */
  /* margin-top: 19.7px; */

}

.buscar {
  width: 752px;
  height: 56px;
  color: whitesmoke;
  text-align: left;
  vertical-align: middle;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;

  /* left: 22.67%; */
  /* right: 22.67%; */
  /* top: 0%; */
  /* bottom: 0%; */

  background-color: rgb(255, 255, 255, 0.16);
  border: none;
  /* margin: auto; */
  /* text-align: middle; */
  /* vertical-align: middle; */
  /* border-radius: 8px; */

}

.foto-perfil {
  width: 106px;
  display: flex;

}