* {}

body {
  width: 375px;
  height: 1248px;

  background-color: #051D3B;
}

nav {
  display: flex;
  width: 343px;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
}

.logo {
  width: 50vw;
  margin-left: -16px;
}

.lupa {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: flex-end;
  color: whitesmoke;
  width: 48px;
  height: 48px;
  margin-left: auto;
}

.hamburger {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: flex-end;
  color: whitesmoke;
  width: 48px;
  height: 48px;
  margin-right: 14px;
}

.editor_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem;

  background-color: #68D1FF;
  border-radius: 8px;

  width: 343px;
  height: 492px;
  margin-left: 16px;
  margin-top: 56px;
}

.editor_dentro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.05rem;

  width: 279px;
  height: 428px;
  margin-left: 32px;
  margin-top: 32px;

  background-color: #141414;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  color: whitesmoke;

  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 10px 0px; */
}

.mac_buttons {
  /* background-color: pink; */
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 52px;
  height: 12px;
  margin-left: 16px;
  margin-top: 16px;

  /* flex: none; */
  /* order: 0; */
  /* flex-grow: 0; */
  /* margin: 24px 8px; */
}

.editor {
  display: flex;
  /* align-items: center; */

  width: 247px;
  height: 360px;
  margin-left: 13px;
  margin-top: 50px;
  /* margin: auto; */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
  border: none;
  background-color: #141414;
  color: white;
}