/*#region conf gerais*/
:root {
  --color-background: #051D3B;
  --code-border-background: #68D1FF;
  --code-text-background: #141414;
  --button-background: rgba(80, 129, 251, 0.08);
  --button-save-background: #5081FB;
  --project-field-background: #1f344f;
  --botao-seletor-cores: #6BD1FF;

  --color-font: whitesmoke;
  --color-font-secundary: #051D3B;
  --color-icons: whitesmoke;

  --color-macBut1: #ff5f56;
  --color-macBut2: #ffBD2E;
  --color-macBut3: #27C93F;
}

body {
  width: 98vw;
  height: 98vh;
  background: var(--color-background);
}

/* botoes */
.botaoOutlined {
  background-color: var(--button-background);
  border: none;
}

.botaoOutlined:hover {
  background-color: rgba(80, 129, 251, 0.16);
}

.botaoOutlined:active {
  background-color: rgba(80, 129, 251, 0.16);
  border: 4px solid rgba(80, 129, 251, 0.24);
}

.botaoFilled {
  background-color: var(--button-save-background);
  color: var(--color-font-secundary);
}

.botaoFilled:hover {
  background-color: #7BA4FC;
}

.botaoFilled:active {
  background-color: #7BA4FC;
  border: 4px solid rgba(80, 129, 251, 0.72);
}

/* form Components */

.inputTexto {
  background-color: rgba(255, 255, 255, 0.16);
}

.inputTexto:hover {
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 8px;
}

/*#endregion conf gerais*/

/* #region mobile first start */

/*#region header mobile*/
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 56px;
  margin: 16px;
}

.menuLogo {
  width: 145px;
}

.menuBusca {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--color-icons);
  margin-left: 94px;
  font-size: 1.3rem;
  cursor: pointer;
}

.menuBusca:hover {
  border-radius: 16px;
  background-color: rgba(80, 129, 251, 0.08);
}

.menuBusca:active {
  border-radius: 16px;
  background-color: rgba(80, 129, 251, 0.16);
}

.barraBusca {
  display: block;
  width: 150px;
  margin-top: 75px;
  margin-right: 1px;
  height: 26px;
  padding: 0px 14px;
  border: none;
  border-radius: 8px;

  background-color: var(--project-field-background);

  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-font);
}

.barraBusca::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-font);
  opacity: 0.64;
}

#buscaOpen {
  display: flex;
}

#buscaClose {
  display: none;
}

.menuAuthor {
  display: none;
}

.menuHamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--color-icons);
  font-size: 1.3rem;
  cursor: pointer;
}

.menuHamburger:hover {
  border-radius: 16px;
  background-color: rgba(80, 129, 251, 0.08);
}

.menuHamburger:active {
  border-radius: 16px;
  background-color: rgba(80, 129, 251, 0.16);
}

#hamburgerOpen {
  display: flex;
}

#hamburgerClose {
  display: none;
}

/*#endregion header mobile*/

/*#region barra menu hamburger mobile*/
.barraMenuLateral {
  width: 50vw;
  height: 490px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #2D415B;
  border-radius: 8px;
  position: absolute;
  /* margin-top: 24px; */
  margin-left: 40%;
  padding: 10px;

  transform: translateX(9999px);
  transition: transform 0.2s ease-in-out;
}

.abreMenuLateral {
  transform: translateX(0px);
}

.menuHeader {
  height: 18px;
  margin-left: 8px;
  margin-top: 8px;
  color: var(--color-font);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.menuEditor {
  display: flex;
  justify-content: flex-start;
}

.menuComunidade {
  display: flex;
  justify-content: flex-start;
}

.imagemMenuEditor {
  width: 36px;
  margin: 0px 8px;
}

.imagemMenuComunidade {
  width: 36px;
  margin: 0px 8px;
}

.menuComunidadeLink {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.menuComunidadeLink a {
  text-decoration: none;
}

.menuComunidadeLink:hover {
  border-radius: 8px;
  background-color: green;
  transition: background-color .3s;
}

.menuTexto {
  color: var(--color-font);
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  opacity: 0.64;
}

.lineMobile {
  width: 160px;
  border: 1px solid #FFFFFF;
  opacity: 0.08;
  margin: 12px auto;
}

.authorMobile {
  /* margin: 8px 0px; */
}

/*#endregion barra menu hamburger mobile*/

/*#region editor mobile*/

.conteudoCentral {
  display: flex;
  flex-direction: column;
}

.editorContainer {
  display: flex;
  /* width: 343px; */
  height: 492px;
  background-color: var(--code-border-background);
  border-radius: 8px;
  margin: 16px;
  /* margin-top: 40px; */
}

.blocoDeEdicao {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 279px;
  height: auto;
  margin: 32px;
  background-color: var(--code-text-background);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.macButtons {
  display: flex;
  justify-content: space-between;
  width: 52px;
  height: 12px;
  font-size: 12px;
  margin-left: 16px;
  margin-top: 16px;
}

.macBut1 {
  color: var(--color-macBut1);
}

.macBut2 {
  color: var(--color-macBut2);
}

.macBut3 {
  color: var(--color-macBut3);
}


/* .preview { */
/* background-color: transparent; */
/* } */

.textoEditor .preview {
  /* width: 247px; */
  height: 340px;
  margin-top: 24px;
  margin: 16px;
  background-color: var(--code-text-background);
  border: none;
  resize: none;

  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  color: var(--color-font);
}

/*#endregion editor mobile*/

/*#region highlightButton mobile*/
.highlightButton {
  align-items: center;
  margin: 32px 16px;
  width: 343px;
  height: 56px;
  border-radius: 8px;

  /* background-color: var(--button-background); */
  /* border: none; */
  color: var(--color-font);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}



/*#endregion highlightButton mobile*/

/*#region barraDireita mobile */
.dadosProjeto {
  display: flex;
  flex-direction: column;
}

.projetoHeader {
  width: 343px;
  height: 18px;
  margin-left: 16px;
  margin-top: 40px;
  color: var(--color-font);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.nomeProjeto {
  width: 343px;
  height: 56px;
  margin: 16px auto;
  border: none;
  border-radius: 8px;
  background-color: var(--project-field-background);


  color: var(--color-font);
  opacity: 64%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.nomeProjeto::placeholder {
  margin: auto;
  color: var(--color-font);
  opacity: 64%;
  padding: 15px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.descricaoProjeto {
  width: 343px;
  height: 80px;
  margin: 16px auto;
  border: none;
  border-radius: 8px;
  background-color: var(--project-field-background);

  margin: auto;
  color: var(--color-font);
  opacity: 64%;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.descricaoProjeto::placeholder {
  margin: auto;
  color: var(--color-font);
  opacity: 64%;
  padding: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.personalizaProjeto {
  display: flex;
  flex-direction: column;
}

.personalizaProjetoHeader {
  width: 343px;
  height: 18px;
  margin-left: 16px;
  margin-top: 40px;
  color: var(--color-font);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.selectLinguagens {
  width: 343px;
  height: 56px;
  margin: 16px auto;
  border: none;
  border-radius: 8px;
  background-color: var(--project-field-background);
}


select {
  margin: auto;
  color: var(--color-font);
  opacity: 64%;
  padding: 15px;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* opacity: 0.16; */
}

option {
  margin: auto;
  box-sizing: border-box;
  color: var(--color-font);
  opacity: 64%;
  background-color: var(--project-field-background);
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.seletorCorProjeto {
  display: flex;
  width: 343px;
  height: 56px;
  margin: 16px auto;
  border-radius: 8px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  /* background-color: var(--project-field-background); */
}

.botaoPersonalizaCor {
  width: 327px;
  height: 40px;
  margin: auto;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.botaoSalvar {
  /* display: flex; */
  align-items: center;
  margin: 40px 16px;
  width: 343px;
  height: 56px;
  border-radius: 8px;
  border: none;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/*#endregion barraDireita mobile */

/* #endregion mobile first end*/

@media (min-width:768px) {
  body {}

  /*#region header tablet*/

  .cabecalho {
    margin: 32px;
    justify-content: space-between;
  }

  .menuLogo {
    display: flex;
  }

  .menuBusca {
    width: 431px;
    margin-left: 40px;
  }

  .barraBusca {
    display: flex;
    width: 431px;
    height: 56px;
    padding: 0px 14px;
    border: none;
    border-radius: 8px;

    background-color: var(--project-field-background);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-font);
  }

  .barraBusca::placeholder {
    display: flex;
    width: 98%;
    padding: 16px 0px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-font);
    opacity: 0.64;
  }

  .lupa {
    display: none;
  }

  .menuHamburger {
    margin-left: 40px;
    font-size: 1.5rem;
  }

  /*#endregion header tablet*/

  /*#region editor tablet*/

  .editorContainer {
    height: 366px;
    margin: 32px;
  }

  .blocoDeEdicao {
    width: 704px;
  }

  .textoEditor .preview {
    height: 200px;
  }

  /*#endregion editor tablet*/

  /*#region highlightButton tablet*/
  .highlightButton {
    display: flex;
    /* align-self: center; */
    justify-content: center;
    margin-left: 32px;
    margin-top: 0px;
    width: auto;
    height: 56px;
  }

  /*#endregion highlightButton tablet*/

  /*#region barraDireita tablet */
  .projetoHeader {
    margin-top: 0px;
  }

  .nomeProjeto {
    width: 704px;
    margin: auto;
  }

  .descricaoProjeto {
    width: 704px;
    margin-top: 16px;
  }

  .personalizaProjeto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .personalizaProjetoHeader {
    margin-bottom: 0px;
  }

  .selectLinguagens {
    width: 344px;
    margin: 16px auto;
  }

  .seletorCorProjeto {
    width: 344px;
    margin: 16px auto;
  }

  .botaoPersonalizaCor {
    width: 328px;
  }

  .botaoSalvar {
    width: 704px;
    margin-top: 32px;
  }

  /*#endregion barraDireita tablet */

}

@media (min-width:1025px) {

  /*1025px*/
  body {}

  /*#region header pc*/

  .cabecalho {
    display: flex;
    /* justify-content: center; */
    width: 1376px;
    /* align-content: center; */
    /* align-items: center; */
    /* height: 56px; */
    margin: 32px;
  }

  .menuLogo {
    width: 312px;
    margin-left: 16px;
  }

  .menuBusca {
    width: 752px;
    margin-left: 16px;
    margin-right: 32px;

  }

  .menuAuthor {
    display: flex;
    width: 312px;
    justify-content: flex-end;
  }

  .barraBusca {
    display: flex;
    width: 752px;
  }

  .menuHamburger {
    display: none;
  }

  /*#endregion header pc*/

  /*#region blocos de conteudo pc*/

  .conteudoPrincipal {
    display: flex;
    flex-direction: row;
    width: 1440px;
  }

  .barraMenuLateral {
    display: flex;
    flex-direction: column;
    width: 312px;
    margin-left: 32px;
  }

  .conteudoCentral {
    /* margin-right: 40px; */
    /* width: 816px; */
    width: 752px;
  }

  .barraDireita {
    display: flex;
    flex-direction: column;
    width: 312px;
    margin-left: 32px;
  }

  /*#endregion blocos de conteudo pc*/

  /*#region barra menu lateral pc*/


  .menuHeader {
    /* width: 189px; */
    height: 18px;
    margin-left: 8px;
    margin-top: 0px;
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
  }

  .menuEditor {
    display: flex;
    justify-content: flex-start;
    /* width: auto; */
    height: 48px;
  }

  .imagemMenuEditor {
    width: 48px;
    margin-left: 16px;
    margin: 0px 8px;
  }

  .menuComunidadeLink {
    background-color: transparent;
    border: none;
  }

  .menuComunidadeLink:hover {
    background-color: green;
    transition: background-color .3s;

  }

  .menuComunidade {
    display: flex;
    justify-content: flex-start;
    /* width: 189px; */
    height: 48px;
    margin-top: 16px;
  }

  .imagemMenuComunidade {
    width: 48px;
    margin: 0px 8px;
  }

  .menuTexto {
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    opacity: 0.64;
  }

  /*#endregion barra menu lateral pc*/

  /*#region editor pc*/
  .editorContainer {
    width: 752px;
    margin: 0px;
  }

  .textoEditor .preview {
    height: 200px;
  }

  /*#endregion editor pc*/

  /*#region highlightButton pc*/
  .highlightButton {
    margin: 32px 0px;
    width: 752px;
  }

  /*#endregion highlightButton pc*/

  /*#region barraDireita pc */

  .barraDireita {}

  .dadosProjeto {}

  .projetoHeader {
    width: 272px;
    margin-left: 16px;
    margin-top: 0px;
  }

  .nomeProjeto {
    width: 272px;
    margin-left: 16px;
  }

  .descricaoProjeto {
    width: 272px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .personalizaProjetoHeader {
    width: 272px;
    margin-bottom: 0px;
    margin-top: 16px;
  }

  .personalizaProjeto {
    display: flex;
    flex-direction: column;
  }

  .selectLinguagens {
    width: 272px;
    margin-left: 16px;
    margin-bottom: 8px;
  }

  .seletorCorProjeto {
    width: 272px;
    margin-left: 16px;
    margin-top: 8px;
  }

  .botaoPersonalizaCor {
    width: 256px;
  }

  .botaoSalvar {
    width: 272px;
    margin-top: 32px;
  }

  /*#endregion barraDireita pc */


}